#!/bin/sh
# vim: ts=4:et:sts=4
# $Id: dictd.config 90 2009-01-03 16:57:14Z robert $
set -e


# Source debconf library.
. /usr/share/debconf/confmodule

CONFIGFILE=/etc/default/dictd

if [ -f "$CONFIGFILE" ]; then

    RUN_MODE="<not set in config file>"

    . "$CONFIGFILE"

    # preserve user changes from the config file
    case "$RUN_MODE" in
        daemon|inetd|disabled)
	        db_set dictd/run_mode "$RUN_MODE"
            ;;
        "<not set in config file>")
            ;;
        *)
	        db_set dictd/run_mode "daemon"
            ;;
esac
fi


db_input medium dictd/run_mode || true
db_go || true
